<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<title>Underground.</title>

</head>
<body>
	<div class="container">
		<div class="row">

      <div class="col l6 s12 m6">
              <div class="card-image center z-depth-5 darken-1">
                <img class="responsive-img" src='../assets/oreo.jpg' height="300" width="600">
              </div>
              <div class="card-content">
          <h4> Especiais </h4>
        </div>
      </div>
    	<div class="col l6 s12 m6">
      			  <div class="card-image center z-depth-5 darken-1">
        		    <img class="responsive-img" src='../assets/chocolate.jpg' height="300" width="600"  >
        		  </div>
              <div class="card-content">
          <h4> Chocolate </h4>
        </div>
      </div>
      <div id="card1"class="col l6 s12 m6">
             <div  class="card-image center z-depth-5 darken-1">
                <img class="responsive-img" src='../assets/recheado.jpeg' height="300" width="600">
             </div>  
             <div class="card-content">
          <h4> Recheados </h4>
        </div> 
      </div>
      <div class="col l6 s12 m6">
             <div class="card-image center z-depth-5 darken-1">
                <img class="responsive-img" src='../assets/confeitado.jpeg' height="300" width="600" >
      			 </div>
             <div class="card-content">
          <h4> Confeitados </h4>
        </div>
      </div>
  	</div>
	</div>
	
 

</body>
</html>