<div class="row">
<div class="container">
	<div class="col l6">
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et diam mollis, malesuada nisi vitae, posuere leo. Phasellus tempus suscipit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi nec massa ut magna suscipit pulvinar. Phasellus maximus, felis nec iaculis pharetra, dui leo molestie leo, at vehicula tellus massa sit amet magna. Fusce pretium ultricies tempus. Suspendisse non tincidunt nisi. Maecenas orci purus, tristique eu sapien vel, tempor mattis elit. Vivamus quis justo quis quam interdum sagittis a in mauris. Mauris iaculis aliquam est in auctor. Aliquam fringilla euismod velit, vel tincidunt ligula molestie efficitur. Etiam posuere viverra sapien in hendrerit.</p>
</div>


	<div class="col l6"> 
			<p>Fusce porta magna augue. Quisque eleifend euismod dictum. Curabitur quis aliquam odio. Maecenas consectetur semper lacus, sit amet mattis sem molestie eu. Duis tempor auctor blandit. Ut vitae leo ipsum. Integer id eros ac felis sodales tempor sed sit amet quam. Mauris interdum lectus nec elit sagittis scelerisque. Aliquam purus massa, commodo a enim et, ornare vehicula ligula. Maecenas dui sem, dapibus eget porta vel, sagittis eget augue. Maecenas velit arcu, congue quis dui non, laoreet convallis dolor. In sit amet mauris vulputate purus pellentesque sollicitudin. Quisque sagittis turpis urna, nec imperdiet dolor malesuada eget.</p></div>

		</div>
</div>

<img src="/../../assets/ppp.jpg">



